/* General styling for the game page */

/* Set the default font for the entire page, center the content both horizontally and vertically, 
   set the height to cover the entire viewport, and set the background color. */
.game-page {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8dd30;
    overflow: auto; /* Allows scrolling if content overflows the viewport height */
}

/* Styling for the timer display */
#timer {
    font-size: 1.5em;
    background-color: #977331;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    width: fit-content; /* Adjusts the width to fit the content */
}

/* Grid layout for the game board */
.game-container {
    display: grid;
    gap: 20px; /* Space between grid items */
    width: fit-content; /* Adjusts the width to fit the content */
    justify-content: center;
    min-height: 300px; /* Minimum height of the game container */
}

/* Appearance of each card */
.card {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer; /* Changes the cursor to a hand when hovering over a card */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    margin: 1px;
    perspective: 1000px; /* Provides a 3D perspective for the card flipping effect */
    background-color: transparent; /* Ensures the card background is transparent */
}

/* Styling for the front and back of the card */
.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute; /* Positions the card front and back on top of each other */
    backface-visibility: hidden; /* Hides the side of the card that is facing away */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: transform 0.6s; /* Smooth transition for the flipping effect */
    background-size: cover; /* Ensures the background image covers the entire card */
    background-position: center; /* Centers the background image */
}

/* Initial rotation for the card back to be hidden */
.card-back {
    transform: rotateY(-180deg);
}

/* When the card is flipped, rotate the front and back to show the opposite side */
.card.flipped .card-front {
    transform: rotateY(180deg);
}

.card.flipped .card-back {
    transform: rotateY(0deg);
}

.card.matched .card-back {
    transform: rotateY(0deg);
}

.card.matched .card-front {
    transform: rotateY(180deg);
}

/* Responsive design adjustments for tablets */
@media (max-width: 900px) {
    .game-container {
        flex-direction: row;
        flex-wrap: wrap; /* Allows grid items to wrap to the next row if there's not enough space */
    }
}

/* Responsive design adjustments for mobile devices */
@media (max-width: 680px) {
    .game-container {
        flex-direction: column;
    }
}

/* scoreboard.css */

/* Making the background consistent */
.scoreboard-body {
    font-family: Signika Negative, sans-serif;
    background-color: #f8dd30;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/* Styling the main container for consistency */
.scoreboard-container {
    flex-direction: column;
    max-width: 650px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}

/* Styling the title for visual appeal */
.scoreboard-title {
    color: #977331;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Styling the table to make it visually appealing */
.scoreboard-table {
    width: 500px;
    border-collapse: collapse;
}

.scoreboard-table th,
.scoreboard-table td {
    color: #333;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Styling the button to match the other buttons */
.scoreboard-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #977331;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

/* Scrollable table container */
.scoreboard-scrollable-table {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.end-message {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    position: absolute;
    top: 20px; /* Adjust this value to position it vertically */
    left: 50%; /* Center the element horizontally */
    transform: translateX(-50%); /* Center the element horizontally */
    background-color: #f8f8f8;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px;
    z-index: 1; /* Make sure it's above other elements */
    color: #333;
}

#pauseButton {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #977331;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#pause {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    text-align: right;
    z-index: 1000;
}

/* Responsive Design */
@media (max-width: 768px) {
    .scoreboard-container {
        width: 50%;
    }
}
